$white-color: white;
$subtitle-color: #353535;
$icone-color: #7E7E7E;
$iconehover-color: #9356DC;
$nouveau-color: #008766;
$loader-bg-color: #E4F1F8;
$localisation-bg-color: #EAEAEA;
$reservation-bg-color: #F6F6F6;
$card-bg-color: white;
$restaurant-bg-color: #F2F2F2;
$footer-bg-color: #353535;
$valider-bg-color: #99E2D0;