$color_1: white;
$color_2: #353535;
$color_3: black;
$color_4: #7E7E7E;
$color_5: #9356DC;
$color_6: #008766;
$font-family_1: 'Roboto', sans-serif;
$background-color_1: #E4F1F8;
$background-color_2: #EAEAEA;
$background-color_3: #F6F6F6;
$background-color_4: white;
$background-color_5: #F2F2F2;
$background-color_6: #353535;