$color_2: white;
$color_3: #353535;
$color_4: black;
$color_5: #7E7E7E;
$color_6: #9356DC;
$color_7: #008766;
$font-family_1: 'Roboto', sans-serif;
$background-color_1: #E4F1F8;
$background-color_2: #EAEAEA;
$background-color_3: #F6F6F6;
$background-color_4: white;
$background-color_5: #F2F2F2;
$background-color_6: #353535;

/*..................................................................*/
@keyframes cssAnim {
    to {
        visibility: hidden;
    }
}

/*..................................................................*/

body {
    font-family: $font-family_1;
    margin: 0px;
}

h1 {
    font-size: 34px;
    font-weight: bold;
}

p {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 28px;
}

a {
    color: inherit;
    text-decoration: none;

    .button2 {
        &:hover {
            #icone1 {
                color: $color_6;
            }

            #icone2 {
                color: $color_6;
            }

            #icone3 {
                color: $color_6;
            }
        }
    }
}

.loader {
    position: fixed;
    background-color: $background-color_1;
    height: 100%;
    width: 100%;
    inset: 0;
    z-index: 1;
    opacity: 1;
    animation: cssAnim 2s linear 0s forwards;
}

.fa-mug-hot {
    position: absolute;
    top: 40%;
    left: 45%;
    font-size: 100px;
    opacity: 1;
    color: $color_2;
    font-size: 200px;
    animation: cssAnim 2s linear 0s forwards;
}

.header {
    padding: 30px;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.localisation {
    box-shadow: 0 -5px 0 0 rgba(0, 0, 0, 0.1);
    background-color: $background-color_2;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 30px;
    color: $color_3;
    display: flex;
    justify-content: center;
    column-gap: 30px;
}

fa-solid {
    fa-location-dot {
        color: $color_3;
    }
}

.reservation {
    text-align: center;
    background-color: $background-color_3;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
    padding-bottom: 140px;
}

.decouvrez {
    text-align: center;
    font-size: 28px;
    color: $color_3;
    margin-bottom: 60px;
}

.button1 {
    background: linear-gradient(to top, #9356DC, #FF79DA);
    border-radius: 40px;
    color: $color_2;
    padding: 24px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 28px;
    box-sizing: border-box;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
    filter: opacity(100%);
    transition: 0.3s;

    &:hover {
        filter: opacity(75%);
    }
}

.fonctionnement {
    margin: 80px 50px;
    padding-top: 20px;
    padding-bottom: 100px;
}

.button2 {
    margin-top: 80px;
    font-size: 28px;
    font-weight: bold;
    background: #F6F6F6;
    border: none;
    border-radius: 40px;
    color: $color_4;
    padding: 60px 50px;
    margin-left: 40px;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    gap: 40px;
    box-sizing: border-box;
    filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.1));
    position: relative;
}

.number {
    position: absolute;
    top: 50px;
    left: -30px;
    background: #9356DC;
    border: none;
    border-radius: 80px;
    padding: 10px 20px;
    color: $color_2;
    font-size: 30px;
}

#icone1 {
    color: $color_5;
}

#icone2 {
    color: $color_5;
}

#icone3 {
    color: $color_5;
}

.card {
    background-color: $background-color_4;
    border-radius: 30px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.nouveau {
    margin: -15px;
    position: absolute;
    top: -230px;
    right: 55px;
    background: #99E2D0;
    border: none;
    padding: 12px 22px;
    color: $color_7;
    font-size: 30px;
    border-radius: 5px;
    font-weight: bold;
}

.images {
    width: 400px;
    height: auto;
}

.restaurants {
    padding-top: 70px;
    width: 100%;
    background-color: $background-color_5;
    padding-bottom: 70px;
}

.restaurants-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;

    h1 {
        margin-bottom: -10px;
    }
}

.restaurants-cards {
    display: flex;
    flex-direction: column;
    row-gap: 30px;

    .card {
        margin: 50px;
    }

    img {
        border-top-right-radius: 30px;
        border-top-left-radius: 30px;
        width: 100%;
        height: 250px;
        object-fit: cover;
    }

    .card-content {
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 5px;
        position: relative;
    }

    .card-title {
        margin-top: 10px;
        margin-bottom: 6px;
        font-size: 32px;
    }
}

.card-txt {
    margin: 15px;
    position: relative;
}

.coeur {
    i {
        position: absolute;
        top: -10px;
        right: 25px;
        padding-top: 25px;
        font-size: 50px;
    }
}

.coeur-vide {
    color: $color_3;
}

.coeur-full {
    opacity: 0;
    transition-property: all;
    transition-duration: 1s;

    &:hover {
        opacity: 1;
        color: transparent;
        background-image: linear-gradient(#9356DC, #FF79DA);
        -webkit-background-clip: text;
    }
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: $background-color_6;
    padding: 50px;
    flex-direction: column;
    gap: 30px;

    .fa-solid {
        padding-right: 15px;
    }

    .fa-utensils {
        padding-right: 25px;
    }
}

.foot_text {
    display: flex;
    flex-direction: column;
    row-gap: 35px;
}

.images-footer {
    width: 250px;
    height: 45px;
    filter: invert(100%);
}

.footer-subtext {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    color: $color_2;
    font-size: 30px;
}

@media (min-width: 768px) {
    .logo {
        width: 20%;
    }

    .header {
        padding: 20px;
    }

    .localisation {
        padding-top: 5px;
        padding-bottom: 10px;
        font-size: 15px;
        column-gap: 15px;
    }

    h1 {
        font-size: 30px;
        font-weight: bold;
    }

    .reservation {
        padding-top: 10px;
        padding-bottom: 60px;
    }

    .decouvrez {
        font-size: 15px;
        margin-bottom: 35px;
    }

    .button1 {
        padding: 15px 25px;
        font-size: 18px;
    }

    .fonctionnement {
        padding: 0;
        margin: 30px;

        h1 {
            font-size: 25px;
            margin-left: 100px;
            margin-top: 50px;
        }
    }

    .grp-btn2 {
        display: flex;
        justify-content: space-evenly;
    }

    .button2 {
        font-size: 15px;
        padding: 20px 25px;
        display: inline-flex;
        margin-bottom: 50px;
        margin-top: 20px;
        gap: 20px;
        border-radius: 20px;
    }

    .number {
        top: 15px;
        padding: 5px 10px;
        font-size: 15px;
        left: -20px;
    }

    .restaurants {
        padding-top: 20px;
        padding-bottom: 40px;

        h1 {
            font-size: 25px;
        }
    }

    .restaurants-title {
        margin-left: 100px;
    }

    .restaurants-cards {
        .card {
            margin-left: 35px;
            margin-right: 0;
            margin-bottom: 0;
        }

        flex-wrap: wrap;
        flex-direction: row;
        width: 100%;
        row-gap: 0px;
        justify-content: center;

        a {
            width: 45%;
        }

        img {
            width: 100%;
            height: 150px;
        }

        .card-title {
            margin-top: 0;
            margin-bottom: 5px;
            font-size: 20px;
        }
    }

    p {
        font-size: 15px;
    }

    .coeur {
        i {
            top: -12px;
            font-size: 25px;
        }
    }

    .card-txt {
        margin: 5px;
        margin-left: 10px;
    }

    .nouveau {
        top: -130px;
        right: 40px;
        font-size: 20px;
    }

    footer {
        padding-bottom: 20px;
    }

    .foot_text {
        flex-direction: row-reverse;
    }

    .footer-subtext {
        flex-direction: row;
        gap: 15px;
        font-size: 15px;
    }

    .images-footer {
        width: 100px;
        height: 20px;
        margin-left: 50px;
    }
}