/*..................................................................*/
@keyframes cssAnim {
  to {
    visibility: hidden;
  }
}

/*..................................................................*/
body {
  font-family: "Roboto", sans-serif;
  margin: 0px;
}

h1 {
  font-size: 25px;
  font-weight: bold;
}

p {
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 20px;
}

a {
  color: inherit;
  text-decoration: none;
}

a .button2:hover #icone1 {
  color: #9356DC;
}

a .button2:hover #icone2 {
  color: #9356DC;
}

a .button2:hover #icone3 {
  color: #9356DC;
}

.loader {
  position: fixed;
  background-color: #E4F1F8;
  height: 100%;
  width: 100%;
  inset: 0;
  z-index: 1;
  opacity: 1;
  animation: cssAnim 2s linear 0s forwards;
}

.fa-mug-hot {
  position: absolute;
  top: 40%;
  left: 45%;
  font-size: 100px;
  opacity: 1;
  color: white;
  font-size: 200px;
  animation: cssAnim 2s linear 0s forwards;
}

.header {
  padding: 30px;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.localisation {
  box-shadow: 0 -5px 0 0 rgba(0, 0, 0, 0.1);
  background-color: #EAEAEA;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 25px;
  color: #353535;
  display: flex;
  justify-content: center;
  column-gap: 30px;
}

fa-solid fa-location-dot {
  color: #353535;
}

.reservation {
  text-align: center;
  background-color: #F6F6F6;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 30px;
  padding-bottom: 140px;
}

.decouvrez {
  text-align: center;
  font-size: 20px;
  color: #353535;
  margin-bottom: 60px;
}

.button1 {
  background: linear-gradient(to top, #9356DC, #FF79DA);
  border-radius: 40px;
  color: white;
  padding: 24px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  box-sizing: border-box;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  filter: opacity(100%);
  transition: 0.3s;
}

.button1:hover {
  filter: opacity(75%);
}

.fonctionnement {
  margin: 80px 50px;
  padding-top: 20px;
  padding-bottom: 50px;
}

.button2 {
  margin-top: 80px;
  font-size: 18px;
  font-weight: bold;
  background: #F6F6F6;
  border: none;
  border-radius: 40px;
  color: black;
  padding: 40px 20px;
  margin-left: 40px;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  gap: 15px;
  box-sizing: border-box;
  filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.1));
  position: relative;
}

.number {
  position: absolute;
  top: 30px;
  left: -25px;
  background: #9356DC;
  border: none;
  border-radius: 80px;
  padding: 10px 15px;
  color: white;
  font-size: 15px;
}

.grp-btn2 {
  margin-left: -30px;

}

#icone1 {
  color: #7E7E7E;
}

#icone2 {
  color: #7E7E7E;
}

#icone3 {
  color: #7E7E7E;
}

.card {
  background-color: white;
  border-radius: 30px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.nouveau {
  margin: -15px;
  position: absolute;
  top: -110px;
  right: 30px;
  background: #99E2D0;
  border: none;
  padding: 10px 20px;
  color: #008766;
  font-size: 20px;
  border-radius: 5px;
  font-weight: bold;
}

.images {
  width: 400px;
  height: auto;
}

.restaurants {
  padding-top: 70px;
  width: 100%;
  background-color: #F2F2F2;
  padding-bottom: 70px;
}

.restaurants-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 50px;
}

.restaurants-title h1 {
  margin-bottom: -10px;
}

.restaurants-cards {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}

.restaurants-cards .card {
  margin: 50px;
}

.restaurants-cards img {
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  width: 100%;
  height: 130px;
  object-fit: cover;
}

.restaurants-cards .card-content {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  position: relative;
}

.restaurants-cards .card-title {
  margin-top: 10px;
  margin-bottom: 6px;
  font-size: 20px;
}

.card-txt {
  margin-left: 15px;
  margin-right: 15px;
  position: relative;
}

.space-btw {
  margin-right: 50px;
}

.coeur i {
  position: absolute;
  top: -10px;
  right: 10px;
  padding-top: 25px;
  font-size: 30px;
}

.coeur-vide {
  color: #353535;
}

.coeur-full {
  opacity: 0;
  transition-property: all;
  transition-duration: 1s;
}

.coeur-full:hover {
  opacity: 1;
  color: transparent;
  background-image: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
}

footer {
  display: flex;
  justify-content: space-between;
  background-color: #353535;
  padding: 50px;
  flex-direction: column;
  gap: 30px;
}

footer .fa-solid {
  padding-right: 15px;
}

footer .fa-utensils {
  padding-right: 25px;
}

.foot_text {
  display: flex;
  flex-direction: column;
  row-gap: 35px;
}

.images-footer {
  width: 150px;
  height: 35px;
  filter: invert(100%);
}

.footer-subtext {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  color: white;
  font-size: 20px;
}

@media (min-width: 768px) {
  .logo {
    width: 20%;
  }

  .header {
    padding: 20px;
  }

  .localisation {
    padding-top: 5px;
    padding-bottom: 10px;
    font-size: 15px;
    column-gap: 15px;
  }

  h1 {
    font-size: 30px;
    font-weight: bold;
  }

  .reservation {
    padding-top: 10px;
    padding-bottom: 60px;
  }

  .decouvrez {
    font-size: 15px;
    margin-bottom: 35px;
  }

  .button1 {
    padding: 15px 25px;
    font-size: 18px;
  }

  .fonctionnement {
    padding: 0;
    margin: 30px;
  }

  .fonctionnement h1 {
    font-size: 25px;
    margin-left: 100px;
    margin-top: 50px;
  }

  .grp-btn2 {
    display: flex;
    justify-content: space-evenly;
  }

  .button2 {
    font-size: 15px;
    padding: 20px 25px;
    display: inline-flex;
    margin-bottom: 50px;
    margin-top: 20px;
    gap: 20px;
    border-radius: 20px;
  }

  .number {
    top: 15px;
    padding: 5px 10px;
    font-size: 15px;
    left: -20px;
  }

  .restaurants {
    padding-top: 20px;
    padding-bottom: 40px;
  }

  .restaurants h1 {
    font-size: 25px;
  }

  .restaurants-title {
    margin-left: 100px;
  }

  .restaurants-cards {
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    row-gap: 0px;
    justify-content: center;
  }

  .restaurants-cards .card {
    margin-left: 35px;
    margin-right: 0;
    margin-bottom: 0;
  }

  .restaurants-cards a {
    width: 45%;
  }

  .restaurants-cards img {
    width: 100%;
    height: 150px;
  }

  .restaurants-cards .card-title {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 20px;
  }

  p {
    font-size: 15px;
  }

  .coeur i {
    top: -12px;
    font-size: 25px;
  }

  .card-txt {
    margin: 5px;
    margin-left: 10px;
  }

  .nouveau {
    top: -130px;
    right: 40px;
    font-size: 20px;
  }

  footer {
    padding-bottom: 20px;
  }

  .foot_text {
    flex-direction: row-reverse;
  }

  .footer-subtext {
    flex-direction: row;
    gap: 15px;
    font-size: 15px;
  }

  .images-footer {
    width: 100px;
    height: 20px;
    margin-left: 50px;
  }
}

/*# sourceMappingURL=style.css.map */
